<section class="about flex justify-start items-center " id="about">
    <div class="flex justify-center items-center w-11/12">
        <section class="about__description ">
            <h2 class="custom-text-white font-bold text-6xl mb-2">Rodrigo Alex</h2>
            <h2 class="custom-text-white font-bold text-6xl mb-2">Ayelef Huilipan</h2>
            <h1 class="custom-text-white font-bold mb-2 text-2xl">Programador web Full-Stack</h1>
            <div>
                <p class="custom-text-white font-bold mb-1 text-lg">
                    Programador altamente enfocado en la calidad del código
                </p>
                <p class="custom-text-white font-bold mb-1 text-lg">
                    Conocimiento profundo en tecnologías ampliamente reconocidas por su fiabilidad y estabilidad como son 
                    <span >Angular</span> y 
                    <span >Spring Boot</span>
                </p>
            </div>
        </section>
        <div>
            <img class="about__portrait" 
            src="/img/portrait/1.jpg" alt="">
            <div class="flex justify-center items-center my-2">
                <a href="https://github.com/rodr1alex" target="_blank">
                    <div class="about__github mx-4"></div>
                </a>
                <a href="https://linkedin.com/in/rodrigo-ayelef-huilipan-aab0b7208" target="_blank">
                    <div class="about__linkedIn mx-4"></div>
                </a>
            </div>
        </div>
    </div>
    
</section>
