<div class="footer flex flex-col justify-center items-center p-2">
    <div class="flex justify-center items-center mb-1">
        <a class="custom-text-white fa-brands fa-github text-3xl hover:text-white" 
            href="https://github.com/rodr1alex" 
            target="_blank">
        </a>
        <a class="linledin text-dark fa-brands fa-linkedin-in text-xl mx-4 rounded-full custom-bg-white flex justify-center items-center hover:bg-white" 
            href="https://linkedin.com/in/rodrigo-alex-ayelef-huilipan-aab0b7208" 
            target="_blank">
        </a>
        <a class="linledin text-dark fa-solid fa-envelope text-xl  rounded-full custom-bg-white flex justify-center items-center hover:bg-white " 
        href=""></a>
    </div>
    <!-- <p class="custom-text-white">developer&#64;rodrigo-ayelef.cloud</p> -->
    <p class="custom-text-white">Diseñado e implementado por Rodrigo Ayelef</p>
    <p class="custom-text-white">&#169;  2024</p>
</div>