<div class="header flex justify-end h-14 bg-white">
    <nav>
        <ul class="flex items-center h-full">
            <li class="mx-10"><a class="text-dark font-bold menu-item" href="#about">Inicio</a></li>
            <li class="mx-10"><a class="text-dark font-bold menu-item" href="#proyects">Proyectos</a></li>
            <li class="mx-10"><a class="text-dark font-bold menu-item" href="#skills">Habilidades</a></li>
            <li class="mx-10"><a class="text-dark font-bold menu-item" href="#contact">Contacto</a></li>
        </ul>
    </nav>
</div>