<section class="limit-content custom-margin-bottom md:-mt-48 p-2" id="skills">
    <!-- skills -->
    <div class="mb-8 md:mb-16 flex flex-col justify-center items-center">
        <p class="text-dark font-bold mb-1">Habilidades y conocimientos</p>
        <div class="custom-underline w-48"></div>
    </div>
    <div class="flex flex-col md:flex-row justify-between">
        <article class="skill-card md:w-3/12  p-2 w-11/12 mx-auto  mb-16 md:mb-0">
            <p class="custom-text-white font-bold text-center mb-2">FrontEnd</p>
            <skill-card [skills]="frontSkills"></skill-card>
        </article>
        <article class="skill-card md:w-3/12  p-2 w-11/12 mx-auto mb-16 md:mb-0">
            <p class="custom-text-white font-bold text-center mb-2">BackEnd</p>
            <skill-card [skills]="backSkills"></skill-card>
        </article>
        <article class="skill-card md:w-3/12  p-2 w-11/12 mx-auto mb-16 md:mb-0">
            <p class="custom-text-white font-bold text-center mb-2">Herramientas</p>
            <skill-card [skills]="generalSkills"></skill-card>
        </article>
    </div>        
</section>